html{
    background-color: #00A8E1;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    text-align: center;
    margin:0;
}

body{
    /*display:inline-block;*/
    font-size: 14px;
    margin: 0px;
    /*border: 1px solid #0086B6;*/
}

.headerBar{
    background-color: #FFFFFF;
    color: #00A8E1;
    margin-right: 0px;
    box-shadow: 2px 2px 4px #373737;
    text-align: center;
    display:inline-block;
    margin-top:2vw;
    padding-left:3vw;
    padding-right:3vw;
}

.mainTitle{
    font-size: 7vw;
    margin-bottom: 0;
    padding-top: 2vw;
    padding-left: 0vw;
    font-weight: 900;
    margin-top:0;
}

.mainTitleSub{
    font-weight: 100;
    font-size: 4vw;
    margin-top: 0;
    padding-bottom: 2vw;
    padding-left: 0vw;
    margin-top:.5vw;
    margin-bottom:0;
}

.mainHeading{
    margin-top: 3vw;
    font-weight: 100;
    font-size: 3vw;
    width:90vw;
    display:inline-block;
}

.sample1Desc{
    width: 80vw;
    display:inline-block;
    text-align: center;
    font-size: 3vw;
    margin-bottom:10vw;
}

.circleButton{
    display: inline-block;
    background-color: #FFFFFF;
    color: #00A8E1;
    padding:2vw;
    /*padding-top:2vw;
    padding-bottom:2vw;
    padding-left: 2vw;
    padding-right: 2vw;*/
    border-radius:10vw;
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
    margin-left: 0px;
    transition: .5s;
    width:6vw;
    height:6vw;
    position:relative;
}
.circleButton:hover{
    box-shadow: 2px 2px 20px #333333;
}
.circleButton2{
    display: inline-block;
    background-color: #FFFFFF;
    line-height: 7.5vw;
    /*letter-spacing: .5vw;*/
    color: #00A8E1;
    font-size: 10vw;
    padding:2vw;
    /*padding-top:2vw;
    padding-bottom:2vw;
    padding-left: 2vw;
    padding-right: 2vw;*/
    border-radius:10vw;
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
    margin-left: 20vw;
    transition: .5s;
    width:6vw;
    height:6vw;
    position:relative;
    transform-origin: center;
}
.circleButton2:hover{
    transform: rotate(180deg);
}
.circleButton3{
    display: inline-block;
    background-color: #FFFFFF;
    line-height: 7.5vw;
    color: #00A8E1;
    font-size: 10vw;
    border-radius:10vw;
    vertical-align: middle;
    text-align: center;
    padding:2vw;
    margin-top: 7vw;
    margin-left: 0vw;
    transition: .5s;
    width:6vw;
    height:6vw;
    position:relative;
    transform-origin: center;
    margin-bottom:5vw;
}
.circleButton3:hover{
    width: 60vw;
}
.circleButton4{
    display: inline-block;
    background-color: #FFFFFF;
    line-height: 7.5vw;
    /*letter-spacing: .5vw;*/
    color: #00A8E1;
    font-size: 10vw;
    padding:2vw;
    /*padding-top:2vw;
    padding-bottom:2vw;
    padding-left: 2vw;
    padding-right: 2vw;*/
    border-radius:10vw;
    vertical-align: middle;
    text-align: center;
    margin-top: 7vw;
    margin-left: 20vw;
    transition: .5s;
    width:6vw;
    height:6vw;
    position:relative;
    transform-origin: center;
    z-index: 5;
    margin-bottom:5vw;
}
.circleButton4:hover{
    /*transform: rotate(180deg);*/
}

.sample2Desc{
    /*margin-left: 50px;*/
    width: 80vw;
    text-align: center;
    font-size: 3vw;
    display:inline-block;
}

.textField{
    /*display:inline-block;*/
    text-align: center;
    vertical-align: middle;
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 50vw;
    box-shadow: 2px 2px 5px #464646AB;
    margin-left:25vw;
}

.inputField{
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    height: 20px;
    margin-left: 2vw;
    background-color:transparent;
    z-index: 100;
    width: 44vw;
    position: relative;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    display:inline-block;
}
.inputField:focus{
    outline: none;
}

.textFieldName{
    display: inline-block;
    color: #232323;
    position: relative;
    left:-13vw;
    top:-4.75vw;
    z-index: 2;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    margin-right:0;
    font-weight: 100;
}

.sample3{
    margin-top:20px;
    text-align: center;
    margin-bottom:20vw;
}
.sample3Desc{
    text-align: center;
    width:80vw;
    display:inline-block;
    font-size:3vw;
}

.chkBox{
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    position: relative;
}

.checkbox{
    width: 30vw;
    border-radius: 30vw;
    margin-left:20px;
}

h5{
    background-color: orange;
    font-size: 5vw;
    display:inline-block;
    position: relative;
    transform: rotate(30deg);
    top:-130vw;
    box-shadow: 0 0 5vw #373737;
}